<div>
    <!-- <div class="section"> -->
        <div class="parallax-container parallax-container-first">
            <div class="parallax"><img src="/assets/images/classroom.jpg"></div>
            <!-- <div class="row container">
                <h2 class="header lightweight-2 col s6 glass left-align" style="position:absolute;left:5%; top:5%;">MAKE A DIFFERENCE</h1>
                <h2 class="header lightweight-2 col s6 glass right-align" style="position:absolute;right:5%; bottom:5%;">IN YOUR COMMUNITY</h1>
            </div> -->
        </div>
    <!-- </div> -->

    <div class="section">
        <div class="parallax-container"></div>
    </div>

    <div class="section">
        <div class="parallax-container">
           <div class="parallax"><img src="/assets/images/soccer.jpg"></div>
           <div class="row container">
               <div class="col m8 s10" style="position:absolute; top:5%; left:5%;">
                   <h2 class="header white-text left-align"></h2>
               </div>
               <div class="col m4 hide-on-small-only"></div>
               <div class="col offset-m4 offset-s2 m8 s10" style="position:absolute; bottom:5%; right:5%;">
                   <p class="white-text flow-text right-align">

                   </p>
               </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="parallax-container"></div>
    </div>

    <div class="section">
        <div class="parallax-container">
           <div class="parallax"><img src="/assets/images/locker.jpg"></div>
           <div class="row container">
               <h2 class="header"></h2>
               <p class="grey-text text-darken-3 lighten-3"></p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
     $(document).ready(function() {
         $(".parallax").parallax();
         $('.scrollspy').scrollSpy();
     });
 </script>
